.bgImg {
    background-image: url("assets/skyscraper.jpg");
    background-size: cover;
}

.ppImg {
    -webkit-mask-image: url("assets/carCircle1.png");
    mask-image: url("assets/carCircle1.png");
    -webkit-mask-repeat: inherit;
    mask-repeat: inherit;
}

.beige-bg {
    background-color: #f5f5f5;
}

.dot {
    background-color: #146c43;
    border-radius: 50%;
    display: inline-block;
    line-height: 1em;
    padding: .15em;
}

.special-pill {
    transform: translate(-34px);
    z-index: 999;
}